.dataTable {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerForTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.updateButton {
    width: 10%;
}